anthropic==0.98.1
bert_score==0.3.13
Bio==1.8.1
biopython==1.87
huggingface_hub==1.3.4
matplotlib==3.10.9
numpy==2.4.4
openai==2.34.0
pandas==3.0.2
protobuf==7.34.1
python-dotenv==1.2.2
scikit_learn==1.8.0
torch==2.9.0
